.draggItem{
    background:rgba(255,255,255,1);
    border:1px solid rgba(233,233,233,1);
    cursor: move;
    position:relative;
    transition: all 0.1s ease-in;
    overflow: hidden;
    &.over{
        z-index:10;
    }
    &:hover{
        box-shadow: 0 0 2px 2px #3080fe;
        z-index:10;
        margin:2px;
        .preview-operation{
            top: 10px;
        }
    }
    .preview-operation{
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        position: absolute;
        right: 10px;
        top: -36px;
        height: 28px;
        width: 30px;
        text-align: center;
        line-height: 24px;
        background-color: rgba(255,255,255,.5);
        border-radius: 4px;
        z-index: 2;
        .delete_btn{
            cursor:pointer;
            font-size:20px;
            color:#666;
        }
    }
    .drag_content{
        width: 100%;
        img{
            display: block;
            width: auto;  
            height: auto;  
            max-width: 100%;  
            max-height: 100%;     
        }
        .title{
            height:24px;
            font-size:16px;
            color:rgba(0,0,0,0.85);
            line-height:24px;
            margin-bottom: 12px;
        }
        .text{
            font-size:14px;
            color:rgba(0,0,0,0.45);
            line-height:22px;
        }
    }
    &.drop-over-downward{
            margin-bottom: 10px;
            border-bottom: 2px dashed #1890ff;
            
    }
    &.drop-over-upward{
                margin-top: 10px;
                border-top: 2px dashed #1890ff;
    }
    .drag_footer{
        height:48px;
        background:rgba(247,249,250,1);
        border-radius:0px 0px 2px 2px;
        border-top:1px solid rgba(233,233,233,1);
        display: flex;
        align-items: center;
        cursor: pointer;
        .btn{
            flex:1;
            text-align: center;
            height:22px;
            font-size:14px;
            color:rgba(0,0,0,0.45);
            &:hover{
                color: #108EE9;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .draggItem:nth-child(3n){
        margin-right: 0;
    }
}