.modalContent {
  padding: 7px 0;
  .inputWrap {
    line-height: 30px;
    margin-bottom: 20px;
    .msg{
        color: #bfbfbf;
        line-height: 26px;
        font-size: 12px;
    }
    &:last-child{
        margin-bottom: 0;
    }
  }
  .require {
    display: inline-block;
    color: red;
    width: 14px;
    font-size: 14px;
  }
}
