.draggableContent{
    .cont_title{
        display: flex;
        justify-content: space-between;
        height: 48px;
        line-height: 48px;
        .text_left{
            font-size: 24px;
        }
        .text_right{
             font-size: 14px;
             color: #666;
        }
        .layout_item{
            margin: 0 10px;
            cursor: pointer;
        }
    }
    .drag_content{
        max-height:800px;
        overflow-y: scroll;
    }
}