.draggableContent{
    position: relative;
    .cont_title{
        display: flex;
        justify-content: space-between;
        height: 48px;
        line-height: 48px;
        .text_left{
            font-size: 24px;
        }
        .text_right{
             font-size: 14px;
             color: #666;
        }
        .layout_item{
            margin: 0 10px;
            padding: 4px 6px;
            font-size: 16px;
            border-radius: 4px;
            color: #2A71FB;
            border:1px solid #ddd;
            background: #ffffff;
            cursor: pointer;
            &.active{
                border: 1px solid #75ADFF;
                padding: 5px 7px;
                border-radius: 8px;
            }
        }
    }
    .drag_content{
        max-height:800px;
        overflow-y: scroll;
        overflow-x: auto;
    }
    .empty{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }
}