.page-blocks {
    .title_count{
        font-size: 14px;
        font-weight: 600;
        color: #666;
        span{
            padding: 0 6px;
            font-weight: 400;
        }
    }
    .cards {
        display: flex;
        flex-flow: wrap;
        cursor: pointer;
        .card {
            height: 200px;
            width: 200px;
            margin: 15px;
            position: relative;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            transition: all 0.5s ease;
            font-weight: 100;
            overflow: hidden;
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:hover {
                transform: translateY(-6px);
                box-shadow:#1890ff 0px 0px 2px 2px;
            }
            .card-content {
                height: 239px;
                background: #434956;
                a {
                    position: relative;
                    display: block;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    overflow: hidden;
                }
                .card-edit {
                    margin-top: 115px;
                    display: none;
                }
                .card-bar {
                    position: absolute;
                    display: none;
                    right: 5px;
                    top: 5px;
                    i {
                        margin-right: 5px;
                        font-size: 20px;
                        color: #A7B1C2;
                    }
                }
                a:hover {
                    background: #2c313a;
                    .card-bar {
                        display: block !important;
                    }
                    .card-edit {
                        color: #fff;
                        display: block !important;
                    }
                }
            }
            .card-name {
                height: 40px;
                line-height: 40px;
            }
        }
        .box {
            text-align: center;
            overflow: hidden;
            width: 200px;
            height: 200px;
            color: #333;
            position: relative;
        }
        .box:after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 69%, rgba(0, 0, 0, 0.76) 100%);
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.5s ease 0s;
        }
        .box:hover:after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.09) 11%, rgba(0, 0, 0, 0.12) 13%, rgba(0, 0, 0, 0.19) 20%, rgba(0, 0, 0, 0.29) 28%, rgba(0, 0, 0, 0.29) 29%, rgba(0, 0, 0, 0.42) 38%, rgba(0, 0, 0, 0.46) 43%, rgba(0, 0, 0, 0.53) 47%, rgba(0, 0, 0, 0.75) 69%, rgba(0, 0, 0, 0.87) 84%, rgba(0, 0, 0, 0.98) 99%, rgba(0, 0, 0, 0.94) 100%);
        }
        .box img {
            width: 100%;
            height: 100%;
            height: auto;
        }
        .box .box-content {
            width: 100%;
            padding: 0px;
            margin-bottom: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
        .box .title {
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            margin: 0 0 4px 0;
            transform: translateY(120px);
            transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
        }
        .box .post {
            display: block;
            font-weight: 500;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            padding: 4px 8px;
            font-size: 14px;
            transform: translateY(120px);
            transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
        }
        .box:hover .title,
        .box:hover .post {
            transform: translateY(0);
            color: #fff;
        }
        .box .social {
            list-style: none;
            padding: 0 0 5px 0;
            margin: 40px 0 25px;
            opacity: 0;
            position: relative;
            transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
            transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s;
        }
        .box:hover .social {
            opacity: 1;
            transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        .box .social:before {
            content: "";
            width: 50px;
            height: 2px;
            background: #fff;
            margin: 0 auto;
            position: absolute;
            top: -23px;
            left: 0;
            right: 0;
        }
        .box .social li {
            display: inline-block;
        }
        .box .social li a {
            display: block;
            width: 24px;
            height: 22px;
            line-height: 22px;
            border-radius: 50%;
            background: #3d71bd;
            font-size: 14px;
            color: #fff;
            margin-right: 10px;
            transition: all 0.3s ease 0s;
        }
        .box .social li a:hover {
            background: #bea041;
        }
        .box .social li:last-child a {
            margin-right: 0;
        }
    }
    .ant-tabs-bar{
        z-index: 10 !important;
        color: #969c9b;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
        color:#1890ff
    }
    .ant-tabs-ink-bar{
        background-color:#1890ff;
    }
    .ant-radio-button-wrapper{
        background: transparent;
        color: #fff;
    }
    .ant-radio-button-wrapper-checked{
        border-color:#1890ff !important;
    }
    .ant-radio-button-wrapper-checked{
        background: transparent;
        color: #1890ff;
        box-shadow:none;
    }
    .ant-tabs-content{
        max-height:800px;
        min-height: 400px;
        position: relative;
        overflow-y: scroll;
    }
    .tabBarExtraContent{
        line-height: 45px;
        height: 43px;
    }
    .pageControl{
        position: fixed;
        top: 50%;
        right: 10px;
        .filter_menu{
            font-size: 28px;
            padding: 6px;
            cursor: pointer;
        }
    }
    
}
.filter_list_item{
    padding:0 24px;
    line-height: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    &.active{
        color: #333;
        background-color: #c1d9e4;
        border-left: 2px solid #1890ff
    }
    &:hover{
        color: #f1e6e6;
        background-color: #6d8590;
        border-left: 2px solid #078c1e;
    }
}
.ant-drawer-content{
    background-color: #020913;
}
.ant-drawer-header{
    background-color:#18501f;
    .ant-drawer-title{
        color: #fff;
    }
    
}
.ant-drawer-close-x{
    color: #fff;
}
.ant-drawer-body{
    padding: 24px 0;
}